html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
}

.app-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 48px);
  overflow: auto;
  background-color: var(--theme-color-std-bkg);
}

.placeholder-logo {
  float: left;
  width: 8.625rem;
  height: 32px;
  background-image: url('/images/opc-ua-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.nodeset-info-container {
  padding: 1rem;
}

.nodeset-info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nodeset-info-uri {
  word-break: break-all;
}

.column-scroll-container {
  height: calc(100vh - 90px);
  overflow-y: auto;
  overflow-x: hidden;
}

.app-main-content ix-layout-grid ix-col {
  padding: 0;
}