body {
  margin: 0;
  padding: 0;
  font-family: 'Siemens Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}
